.register-container {
  display: flex;
  min-height: 100vh;
}

.register-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5; /* màu nền */
}

.register-card {
  width: 100%;
  max-width: 420px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.register-header {
  text-align: center;
  margin-bottom: 24px;
}

.register-btn {
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

.register-footer {
  text-align: center;
  margin-top: 16px;
}

.register-login-link {
  color: #1677ff;
  text-decoration: none;
}

.register-right {
  flex: 1;
  display: none; /* ẩn trên màn nhỏ */
  height: 100vh; /* chiếm toàn bộ chiều cao màn hình */
}

.register-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ảnh phủ kín không méo */
  display: block; /* bỏ khoảng trắng dưới ảnh */
}

/* Hiện ảnh khi màn hình >= 768px */
@media (min-width: 768px) {
  .register-right {
    display: block;
  }
}
