.profile-page .cover-photo {
  display: flex;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  max-height: 400px;
}

.profile-page .cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-page .avatar {
  display: flex;
  justify-content: center;
}

.profile-page .avatar-container {
  display: flex;
  justify-content: center;
  margin-top: -75px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.profile-page .avatar-container .avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: 4px solid white;
  border-radius: 50%;
}

.profile-page .full-name {
  display: flex;
  justify-content: center;
}